/* styles for desktop devices */
@media only screen and (max-width: 1280px) {
    body {
      font-size: 16px;
      width: 76.5%;
      margin: 150px;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 50px;
    }
    h1 {
        color: #a58c00;
        width: 62.7%;
        text-align: relative;
        text-align: right;
        padding-top: 80px;
        margin-bottom: 0;
        font-family: "Optima"; 
        font-size: 40px; 
        font-variant: normal; 
        font-weight:bolder; 
    }
    p {
        color: #a58c00;
        width: 63%;
        padding: 0px;
        text-align: center;
        text-align: right;
        font-family: "Optima";
        line-height: 26.4px;
        font-weight: 60;

    }
    .row1{
        content:'';
        width:50%;
        height:222px; 
        position:absolute;  
        top: 336px;
        background:#191919;
    }
    .row1:before {
        content:'';
        width:100%;
        height:40%;   
        position:absolute;
        left:0;
        top:-58px;
        background:linear-gradient(transparent 20px, #191919);
    }
    .imageBox 
    {
        position: relative;
        float: right;
    }
    .imageBox .hoverImg {
        visibility:hidden;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .imageBox:hover .hoverImg {        
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .button {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 400px;
        top: 350px;
        position: absolute;
        
      }
      
      .button1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .button1:hover {
        background-color: #a58c00;
        color: #191919;
      }

      .moved {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 400px;
        top: 560px;
        position: absolute;
        display: none;
      }
      
      .moved1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .moved1:hover {
        background-color: #a58c00;
        color: #191919;
      }
    
  }
  
/* styles for tablet devices */
@media only screen and (max-width: 1080px) {
    body {
      font-size: 14px;
        width: 70%;
        padding-top: 130px;
        margin: auto;
        image-orientation: center;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 50px;
    }
    h1 {
        color: #a58c00;
        width: 55%;
        text-align: relative;
        text-align: right;
        padding-top: 80px;
        margin-bottom: 0;
        font-family: "Optima"; 
        font-size: 30px; 
        font-variant: normal; 
        font-weight:bolder; 
    }
    p {
        color: #a58c00;
        width: 55%;
        padding: 0px;
        text-align: center;
        text-align: right;
        font-family: "Optima";
        font-weight: 60px;
        font-weight: 300px;
    }
    .row1{
        content:'';
        width:38.7%;
        height:315px; 
        position:absolute;  
        top: 348.5px;
        background:#191919;
    }
    .row1:before {
        content:'';
        width:100%;
        height:30%;   
        position:absolute;
        left:0;
        top:-58px;
        background:linear-gradient(transparent 20px, #191919);
    }
    .imageBox 
    {
        position: relative;
        float: right;
        top: 58px;
    }
    .imageBox .hoverImg {
        visibility:hidden;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .imageBox:hover .hoverImg {        
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .button {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 430px;
        top: 370px;
        position: absolute;
        
      }
      
      .button1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .button1:hover {
        background-color: #a58c00;
        color: #191919;
      }

      .moved {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 435px;
        top: 600px;
        position: absolute;
        display: none;
      }
      
      .moved1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .moved1:hover {
        background-color: #a58c00;
        color: #191919;
      }
}
  
/* styles for mobile devices */
@media only screen and (max-width: 720px) {
    body {
        font-size: 12px;
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
        width: 72.1%;
        margin-left: 0px;
        margin-right: 0px;
    }
    img{
        width: 250px;
        height: 250px;
        border-radius: 25px;
        position: relative;
        margin: auto;
        padding: auto;
        
    }
    h1 {
        color: #a58c00;
        width: 100%;
        text-align: relative;
        text-align: center;
        padding-top: 300px;
        margin-bottom: 0;
        font-family: "Optima"; 
        font-size: 30px; 
        font-variant: normal; 
        font-weight:bolder; 
    }
    p {
        color: #a58c00;
        width: 100%;
        padding: 0px;
        text-align: center;
        text-align: justify;
        font-family: "Optima";
        font-weight: 520;
    }
    .row1{
        content:'';
        width:72.1%;
        height:315px; 
        position:absolute;  
        top: 545px;
        background:#191919;
    }
    .row1:before {
        content:'';
        width:100%;
        height:30%;   
        position:absolute;
        left:0;
        top:-58px;
        background:linear-gradient(transparent 20px, #191919);
    }
    /*image*/
    .imageBox 
    {
        position: relative;
        float: center;
        right: 135px;
    }
    .imageBox .hoverImg {
        visibility:hidden;
        position: absolute;
        right: 250px;
        top: 0;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .imageBox:hover .hoverImg {        
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .button {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 287px;
        top: 550px;
        position: absolute;
        
      }
      
      .button1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .button1:hover {
        background-color: #a58c00;
        color: #191919;
      }

      .moved {
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        left: 290px;
        top: 735px;
        position: absolute;
        display: none;
      }
      
      .moved1 {
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
      }
      
      .moved1:hover {
        background-color: #a58c00;
        color: #191919;
      }
}
/*Fading text on home*/


body {
    background-color: #191919;
}



